
html{
	overflow: hidden;
}
.fdl{
	text-align: center;
	overflow: hidden;
	background: #eff2f5 ;
}
.fdl::-webkit-scrollbar{
	 background-color: rgba(0, 0, 0, 0); 
	 width: 0;
}
.fdl::-moz-scrollbar{
	 background-color: rgba(0, 0, 0, 0);
	 width: 0; 
}
.fdl::-ms-scrollbar{
	 background-color: rgba(0, 0, 0, 0); 
	 width: 0;
}
.fdl::-o-scrollbar{
	 background-color: rgba(0, 0, 0, 0); 
	 width: 0;
}
.fdl li{
	padding: 0 13px;
}
.fdl li a{
	display: inline-block;
	padding: 5px 0;
	border-bottom: 1px solid #e1e1e1;
	box-sizing: border-box;
}
.fdl li:last-child a{
	border-bottom:0 none;
}
.fdl li a p{
	font-size: 14px;
	padding-top: 7px;
}
.ejfl .ejfl_top a{
	position: relative;
	left: 10%;
	display: block;
	width: 90%;
	background: #fff;
}
.ejfl .ejfl_top span{
	background: #838383;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 37%;
	left: 4%;
}
.ejfl .ejfl_top i{
	width: 15px;
	height: 15px;
	background: url(../images/back.png) no-repeat center /cover;
	position: relative;
	right: 3%;
	top:10px;
	transform: rotateY(180deg);
	transition: .5s;
}
.ejfl_top{
	overflow: hidden;
	line-height: 34px;
	background: #fcfcfc;
	box-sizing: border-box;
	border-top:1px solid #eff2f5;
	border-bottom:1px solid #eff2f5;
	position: relative;
}
.ejfl_li{
	overflow: hidden;
	width: 100%;
	background: #fff;
	-padding-bottom: 15px;
}
.ejfl{
	overflow: hidden;
	-margin-right: 5px;
	background: #fff;
}
.ejfl::-webkit-scrollbar{
	 background-color: rgba(0, 0, 0, 0); 
	 width: 0;
}
.ejfl::-moz-scrollbar{
	 background-color: rgba(0, 0, 0, 0); 
	 width: 0;
}
.ejfl::-ms-scrollbar{
	 background-color: rgba(0, 0, 0, 0);
	 width: 0; 
}
.ejfl::-o-scrollbar{
	 background-color: rgba(0, 0, 0, 0); 
	 width: 0;
}
.ejfl_li li{
	float:left;
	width: 8rem;
	margin-left: 0.6rem;
	line-height: 2.96rem;
	padding: 0.4rem;
	text-align: center;
}
.fdl li .syfl_activate{
	color: #e57a00;
	border-bottom: 0.1rem solid #e57a00;
}
.fdbox{
	overflow: hidden;
}
.max{
	overflow: hidden;
}
.swiper-slide{
	margin-top: 1px;
}
.swiper-slide:first-child{
	margin-top: 2px;
}
.ejflbox{
	background: #fff;
	overflow: hidden;
}
.ejflnone{
	display: none;
}
.ejfl .ejflul{
	padding-bottom: 26px;
}
