{if $full_page}
<!-- $Id: users_list.htm 17053 2010-03-15 06:50:26Z sxc_shop $ -->
{include file="pageheader.htm"}

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>

<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
 <style type="text/css">
    #idData {text-align: center;}
    a{text-decoration: none;}
 </style>

<div class="form-div" style="height:26px">
	<form action="agent.php?act=list" name="searchForm" method="post" style="width:85%;float:left;">
 	  <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    
      <select name="user_type">
    	<option value="0" {if $agent_info.user_type == 0 } selected {/if} >{$lang.usertype}</option>
        <option value="1" {if $agent_info.user_type == 1 } selected {/if} >{$lang.user_type_1}</option>
        <option value="2" {if $agent_info.user_type == 2 } selected {/if} >{$lang.user_type_2}</option>
        <option value="3" {if $agent_info.user_type == 3 } selected {/if} >{$lang.user_type_3}</option>
      </select>
	
    &nbsp;{$lang.label_user_name} &nbsp;<input type="text" name="keyword" size="10" id="useragent" value="{$agent_info.username}"/> 
    <label for=""><span></span>所在地区：</label>
		<select name="province" id="province" onchange="show_sub(this.options[this.options.selectedIndex].value)">
			<option value="0">请选择</option>
			{foreach from=$province item=vo}
			<option value="{$vo.provinceID}"} {if $vo.provinceID == $agent_info.province} selected {else}  {/if}>{$vo.province}</option>
			{/foreach}
		</select>

		<select name="city" id="city" onchange="show_area(this.options[this.options.selectedIndex].value)">
			<option value="0">请选择</option>
			{foreach from=$agent_info['city_info'] item=vo}
			<option value="{$vo.cityID}" {if $vo.cityID == $agent_info.city} selected {else}  {/if}>{$vo.city}</option>
			{/foreach}
		</select>

		<select name="area" id="area">
			<option value="0">请选择</option>
			{foreach from=$agent_info['area_info'] item=vo}
			<option value="{$vo.areaID}" {if $vo.areaID == $agent_info.area} selected {else}  {/if}>{$vo.area}</option>
			{/foreach}
		</select>
		
		<script type="text/javascript" src="./plugin/My97DatePicker/WdatePicker.js"></script>
		开始时间：<input type="text" value="{$agent_info.start_time}" name="start_time"  style="width:5%;margin-left:10px" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" >
	    结束时间：<input type="text" value="{$agent_info.end_time}" name="end_time" style="width:5%;margin-left:10px" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" >
							
		<input type="submit" value="{$lang.button_search}" />&nbsp;&nbsp;&nbsp;&nbsp;
	总金额：{if $address_info.total_money == null} 0 {else} {$address_info.total_money} {/if}
	{$status.res}
	&nbsp;&nbsp;&nbsp;&nbsp;
	</form>
	
	<a href="agent.php?act=outExcel&status={$status}" style="float: left;width:5%;line-height: 23px;">导出excel</a>

	<div style="float:right;width:10%">
		分页：<input type="text" id="page" value="20" onchange="pagedata(this)" style="width:50%"/>
	</div>
	
  <script type="text/javascript">
	function show_sub(){
		var province = $('#province').val();
		Ajax.call('agent.php?act=agent_select','province='+province,stylesheetFun,'GET','json',true,true);
		function stylesheetFun(temp){
			$("#city").html("<option value=''>请选择</option>");  
			$.each(temp, function(i, item) {
				$("#city").append("<option value='" + item.cityID + "'>" + item.city + "</option>");  
			});
		}
	}
    function show_area(){
		var city = $('#city').val();
		Ajax.call('agent.php?act=area_select','city='+city,registed_status,'GET','json',true,true);
		function registed_status(data){
			$("#area").html("<option value=''>请选择</option>");  
			$.each(data, function(i, item) {
				$("#area").append("<option value='" + item.areaID + "'>" + item.area + "</option>");  
			});
		}
	}
	
  </script>
</div>

<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">

<!-- start users list -->
<div class="list-div" id="listDiv">
{/if}
<!--用户列表部分--> 
	<table cellpadding="3" cellspacing="1">
		<tbody>
	    <tr>
			<th>
			  <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
			  <a href="javascript:listTable.sort('user_id'); ">{$lang.record_id}</a>{$sort_user_id}
			</th>
			<th><a href="javascript:listTable.sort('user_name'); ">{$lang.username}</a>{$sort_user_name}</th>

			<th>{$lang.user_money}</th>
			<th><a href="javascript:listTable.sort('reg_time'); ">{$lang.reg_date}</a>{$sort_reg_time}</th>
			<th>{$lang.consumption_sum}</th>
			<th>{$lang.adress_sum}</th>
			
	    </tr>
	    </tbody>
	    <tbody id="idData">
	  	{foreach from=$user_list item=user}
	    <tr>
			<td><input type="checkbox" name="checkboxes[]" value="{$user.user_id}" notice="{if $user.user_money ne 0}1{else}0{/if}"/>{$user.user_id}</td>
			<td class="first-cell">{$user.user_name|escape}</td>
			
			<td>{$user.user_money}</td>
			<td align="center">{$user.reg_time}</td>
			<td align="center">{if $user.amount == null} 0 {else} {$user.amount} {/if}</td>
			<td align="center">{$user.address}</td>	
			
	    </tr>
		{foreachelse}
		<tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr> 
		{/foreach}
		</tbody>
	</table>

	<table align="right" cellpadding="3" cellspacing="1" width="100%">

		<td><div id="barcon" name="barcon"></div></td>

	</table>
{if $full_page}
</div>

<!-- end users list -->
</form>
<script type="text/javascript" language="JavaScript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
    // 开始检查订单
    startCheckOrder();
}

function confirm_bath()
{
  userItems = document.getElementsByName('checkboxes[]');

  cfm = '{$lang.list_remove_confirm}';

  for (i=0; userItems[i]; i++)
  {
    if (userItems[i].checked && userItems[i].notice == 1)
    {
      cfm = '{$lang.list_still_accounts}' + '{$lang.list_remove_confirm}';
      break;
    }
  }

  return confirm(cfm);
}
//-->
</script>
 
{/literal}
{include file="pagefooter.htm"}
{/if}
